body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.item {
  float: left;
  align-items: center;
  margin: 0 10px;
  object-fit: cover;
}
.nav{
  display: flex;
  color: white;
  padding: 5px;
  font-size: 1em;
  text-align: left;
  background-color: lightgray;
}
.items{
  text-align: center;
}